body {
    font-family: sans-serif;
    margin-top: 70px;

}
.container
  {
    left: 7px;
    margin-left: 40px;
    padding-left: 2px;

}

.soc{

  right: 50px;
  top: 50px;
  position: absolute;
}
.text {

  top: 200px;
  position: absolute;

}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}





#soc1{


}

